.btn-victor {
    width: 7.5rem;
    color: #e78128;
    background: transparent;
    padding: 0.3rem 1.5rem;
    border: 1px solid #e78128;
    font-size: 0.9rem;
    opacity: 0.8; 
    outline: none!important;
    box-shadow: none!important;

    &:hover {
        background-color: #e78128;
        color: #fff;
    }
}

.checkbox-wrapper {
    display: flex;

    .checkbox {
        height: 15px;
        width: 15px;
        margin-top: 2px;
        margin-right: 5px;
        background: transparent!important;
        box-shadow: none;
        border: 1px solid #f0f0f0!important;
        border-radius: 5px!important;
        opacity: 0.5;
    }
    
}
