.less-margin-bottom {
    position: relative;
    @media (max-width: 1600px) {
        margin-bottom: 0.5vh;
    }

    label.error {
            position: absolute;
            top: 40px;
            right: 0.4rem;

            @media (min-width: 1600px) {
                top: 45px;
            }

            @media (max-width: 873px) {
                font-size: 0.75rem!important;
            }
    }
}