
.login-footer {
    max-width: 22rem;
    position: relative;
    margin: 0 auto;

    @media (max-width: 1600px) {
        padding-top: 0.8rem;
    }

    p {
        opacity: 8;
        text-align: right;
        right: 0%;
        font-size: 0.8rem;
    }
}
