
.login-footer {
    max-width: 22rem;
    position: relative;
    margin: 1.0rem auto;
    p {
        opacity: 8;
        text-align: right;
        position: absolute;
        right: 0%;
        font-size: 0.8rem;
    }
}
