.form-wrapper {
    transition: all 0.3s ease-out;
    
     animation: SHW .5s;
     animation-fill-mode: both;

     .animation {
         animation: SHW 1.5s;
         animation-fill-mode: both
     }

     @keyframes SHW {
         from {
            //  transform: scale(0.98);
             opacity: 0
         }
         to {
            //  transform: scale(1);
             opacity: 1
         }
     }

    .register-wrapper {
        padding: 2vh 0rem 2vh 0rem;
        text-align: right;
        
        .register-text {
            margin-right: 0.8rem;
            font-size: 0.9rem;

            @media (max-width: 160rem){
                margin-right: 0.8vh;
            }

            @media (max-width: 360px) {
                display: block;
                margin-right: 0;
            }
        }
    }

    .login-wrapper-div {
        max-width: 22rem;
        margin: auto;
        position: relative;

        @media (max-height: 160rem) {
            min-height: calc(100vh - 150px);
        }

        .logo-wrapper {
            width: 4rem;
            margin: 0 auto 3rem;
            
            img {
                width: 100%;
            }

            @media (max-width: 1800px) {
                margin: 0 auto 2vh;
                width: 3rem;
            }
        }

        .login-description-wrapper {
           width: 18rem;
           margin: 0 auto 3rem;
           text-align: center;
           font-size: 1.1rem;
           font-weight: 300;

           @media (max-width: 1800px) {
                margin: 0 auto 1vh;
           }
        }

        label {
           font-size: 0.92rem;
           font-weight: 300;
           @media (max-width: 1600px) {
               font-size: 0.82rem;
           }
        }

        input {
            background-color: #f0f0f0;
            border: none!important;
            box-shadow: none!important;
            padding: 0.7rem;

            @media (max-width: 1600px) {
                padding: 0.4rem
            }
        }

        .forget-password {
            padding-top: 0.5rem;
            padding-bottom: 1.5rem;

            @media (max-width: 1600px) {
                font-size: 0.85rem;
                padding-top: 0.1vh;
                padding-bottom: 0.3vh;
            }
        }

        button {
            border-radius: 53px;
            color: #fff;
            padding: 0.6rem;
            background: linear-gradient(to right, #e4612c 0%, #e8862a 100%);
            transition: all 0.3s ease-in;
            box-shadow: 1px 5px 27px #e8862a70;

            &:hover {
                color: #e78128!important;
                background: transparent;
                border: 1px solid #e78128;
            }
        }

    }

}



.transition {
    max-height: 0px;
    transition: all 0.8s ease-in;
}