
.side-page-wrapper {
    padding-left: 0;
    padding-right: 0;
    
    
    .side-page {
        position: relative;
        padding: 60rem 5rem 5rem 5rem;
        background-repeat: no-repeat;
        min-height: 100vh;
        background-position: center;
        background-size: cover;
        padding-left: 0;
        padding-right: 0;
        background-image: linear-gradient(10deg, #e3602bf0 0%, #e67b2bad 40%, #f8f9faab 100%),
        url('../img/Imazhi majtas.jpg');
        opacity: 0.9;

        @media (max-width: 160rem) {
            padding: 0 5rem 5rem 0;
        }

        h1 {
            text-align: right;
            font-size: 4.5rem;
            padding-bottom: 4.5rem;
            .we-are-heading {
                font-size: 2.8rem;
            }
        }

        ul {
            list-style: none;
            display: flex;
            justify-content: flex-end;
            margin-bottom: 0;
            li {
                 margin-left: 4%;
                a{
                    font-size: .9rem;
                    font-weight: 300;
                    color: #fff;
                }
            }
        }
        .side-page-content {
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 3rem 4rem;

            @media (max-width: 1600px) {
                padding: 2.1rem 3rem;
            }
          
        }
        .login-footer {
            margin-top: 13.4rem;
        }
    }

    
}
